ul.dropdown-menu, div.dropdown-menu > ul{
    all: unset;
    list-style-type: none;
}

ul.dropdown-menu {
    display: flex;
    gap: 2rem;
    width: 100%;
    padding: 0.5rem 1rem;
    box-shadow: 0rem 0.1rem rgba(0, 0, 0, .3);
}

li.dropdown-menu {
    position: relative;
}

button.dropdown-menu {
    all: unset;
    cursor: default;
}

button.dropdown-menu:hover{
    cursor: pointer;
    background-color: rgba(1,1,1, 0.15);
    outline: 0.4rem solid rgba(1,1,1, 0.15);
    border-radius: 1rem;
}

div.dropdown-menu {
    position: absolute;
    z-index: 1;
    top: calc(100% + .4rem);
    color: black;
    background: white;
    border-radius: 0.3rem;
    padding: 0 0.5rem;
    min-width: 10rem;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .3);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    pointer-events: none;
}

div.dropdown-menu > ul > li{
    margin-bottom: 0.5rem;
}

div.dropdown-menu a, div.dropdown-menu button{
    all: unset;
}

div.dropdown-menu a:hover, div.dropdown-menu button:hover{
    cursor: pointer;
    text-decoration: underline;
}

.active, .dropdown-menu > .dropdown-menu:hover {
    opacity: 1 !important;
    pointer-events: auto !important;
}

.dropdown-menu-hover-text{
    position: absolute;
    z-index: 2;
    top: 1rem;
    left: 1.3rem;
    background: black;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

button.dropdown-menu:hover + .dropdown-menu-hover-text{
    opacity: 0.7;
}